* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-column: 1 / -1;
  background-color: #393f4d;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
<<<<<<< HEAD
  grid-row: 2 / span 2;
  display: grid;
  gap: 50px;
  grid-template-rows: repeat(4, 1ft);
  background-color: #FF7755;
=======
  background-color: #C50208;
>>>>>>> a9f93b10dfdb1f9392fe8955ddc37f245a30a344
}

.sidebar .photo {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  display: grid;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
<<<<<<< HEAD
  background-color: #FF7755;
  display: grid;
}

.nav > ul {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

=======
  background-color: #C50208;
>>>>>>> a9f93b10dfdb1f9392fe8955ddc37f245a30a344
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  display: grid;
  grid-column: 1 / -1;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
<<<<<<< HEAD
  font-weight: normal;  
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 0.5fr 5fr 0.5fr;
  gap: 4px;
}

ul {
  list-style: none;
=======
  font-weight: normal;
>>>>>>> a9f93b10dfdb1f9392fe8955ddc37f245a30a344
}